<!DOCTYPE HTML>
{% extends 'index.html' %}

{% block content %}
  <script>
  $(function() {
    $( "#Date" ).datepicker({
      showOn: "button",
      buttonImage: "{{ STATIC_URL }}calendar.gif",
      buttonImageOnly: true
    });
  });
  </script>
      <form method="post" action="">
        <table border="0">
          <tr>
            {% csrf_token %}
            <td>First Name:</td><td><input size="20" name="First"/></td>
          </tr>
          <tr>
            <td>Last Name:</td><td><input size="20" name="Last"/></td>
          </tr>
          <tr>
            <td>Phone Number:</td><td><input size="20" name="Phone"/></td>
          </tr>
          <tr>
            <td>Date:</td><td><input size="20" name="Date" id="Date"/></td>
          </tr>
          <tr>
            <td>Time:</td>
            <td><select id="appt-times"></select></td>
          </tr>
          <tr>
            <td>Visit Intent:</td>
            <td>
              <select>
                <option value="" style="display:none;"></option>
                <option>Sports Physical</option>
                <option>Check up</option>
                <option>Sick</option>
                <option>I have a rash</option>
                <option>AIDS</option>
              </select>
            </td>
          </tr>
        </table>
        <input type="submit" Value="Submit">
      </form>
{% endblock %}
