<!DOCTYPE HTML>
{% extends 'index.html' %}

{% block content %}
  <script>
  $(function() {
    $( "#Date" ).datepicker({
      showOn: "button",
      buttonImage: "{{ STATIC_URL }}calendar.gif",
      buttonImageOnly: true
    });
  });
  </script>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
            <tr id="id_sick">
              <th>Is your entire family sick?</th>
              <td><input type="radio" name="famsick" value="Yes">Yes<input type="radio" name="famsick" value="No">No</td>
            </tr>
            <tr id="id_phys">
              <th>What Sport?</th>
              <td><select><option value="" style="display:none;"></option><option>Football</option><option>Baseball</option><option>Other</option></select></td>
            </tr>
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
