<html>
<head>
<title>Dr. DiTraglia Appointment Scheduler</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}fullcalendar/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}fullcalendar/fullcalendar.print.css' media='print' />
    <script type='text/javascript' src='{{ STATIC_URL }}fullcalendar/fullcalendar.min.js'></script>

    <style type="text/css">
      body {
        margin-top: 40px;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      }

      #calendar {
        width: 640px;
        margin: 0 auto;
      }
    </style>
  </head>



  <body>
    <form method="post" action="">
       {% csrf_token %}
       First Name:<input size="35" name="First"></input><br>
       Last Name:<input size="35" name="Last"></input><br>
       Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input size="35" name="Date"></input><br>
       <textarea style="resize:none" placeholder="What ails you?" cols="50" rows="5" name="problem"></textarea>
       <input type="submit" Value="Pencil Me In Doc!">
    </form>
    <div id="calendar"></div>
    <div class="ui-helper-hidden" id="calendar-details" title="Event Details">
      <p>Event details</p>
    </div>

    <script type="text/javascript">
      $(function(){
        var $dialog = $('#calendar-details').dialog({
          autoOpen: false,
          model: true,
          height: 300,
          width: 350
        });

        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          editable: true,
          events: [
              {% for app in appointments %}
              {
                  title: '{{ app.firstName }} {{ app.lastName }}',
                  start: new Date({{ app.dateScheduled.year }}, {{ app.dateScheduled.month }}, {{ app.dateScheduled.day }}, 14, 0)
              },
              {% endfor %}
          ],
          eventClick: function(event,jsEvent,view){
            console.log(event);
            $dialog.dialog({title:event.title});
            $('p',$dialog).empty().append(
              $('<p />').text('Kevin has an appointment for his chronic boner disease')
            );
            $dialog.dialog('open');
          }
        });
      });
    </script>
  </body>

</html>
