<!DOCTYPE HTML>
<html>
  <head>
    <title>Dr. DiTraglia Appointment Scheduler</title>
    <script type="text/javascript" src="http://www.datejs.com/build/date.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}utility.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
  </head>

  <body bgcolor="#FFDEAD">
    <div id="header">
      <div id="pic">
        <img src="{{ STATIC_URL }}/photo.JPG" height="263" width="350"/>
      </div>
      <div id="headingtext">
        <h1>Dr. DiTraglia Pediatrics</h1>
      </div>
      <div id="links">
        <button class="link-button" onclick="window.location.href='/appointment'">Schedule an Appointment</button>
        <button class="link-button">View an Appointment</button>
        <button class="link-button" onclick="window.location.href='/directions'">Directions</button>
        <button class="link-button" onclick="window.location.href='/about'">About Us</button>
      </div>
    </div>
    <div id="content">
				{% block content %}

				{% endblock %}
    </div>
  </body>

</html>
