<!DOCTYPE HTML>
<html>
  <head>
    <title>Dr. DiTraglia Appointment Scheduler</title>
    <script type="text/javascript" src="http://www.datejs.com/build/date.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}utility.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
  </head>

  <body>
  <div id="page-container">
     <div id="links">
        <a href="/appointment">Schedule an Appointment</a> |
        <a href="/view">View an Appointment</a> |
        <a href="/directions">Directions</a> |
        <a href="/about">About Us</a>
      </div>
    <div id="header">
      <div id="pic">
        <img src="{{ STATIC_URL }}Photo.png" height="263" width="350">
      </div>
      <div id="headingtext">
	<img src="{{ STATIC_URL }}Heading.png" width="437" height="243">
      </div>
    </div>
    <div id="content">
      {% block content %}
  
      {% endblock %}
    </div>
  </body>

</html>
