body {
  margin-top: 40px;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
  width: 650px;
  padding-right: 50px;
  float: left;
}
#appointment-info {
  float: left;
  visibility: hidden
}
